.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* for Steam Search */
body{
  background-color: #1B3C53;
  background-image: linear-gradient(315deg, #000000 0%, #1B3C53 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container{
  width: 616px;
  margin-top: 20px;
}

.data-search .input{
  color: white;
}

.data-search .list li{
  background-color: #aaa !important;
  color: #000;
  overflow: hidden;
}

.data-search .list li:target{
  background-color: #666 !important;
}

.result-list .resultStats{
  color: #3b6e8c;
}

.result-list .listItem{
  background-color: #16202D;
  padding: 0;
  margin: 2px 0;
  border: 0;
  background: rgba( 0, 0, 0, 0.4 );
}

.result-list .listItem:hover{
  background: rgba( 0, 0, 0, 0.8 );  
}

.result-list .image{
  width: 120px;
  height: 45px;
}

.result-list article, .result-list article div{
  display: flex;
  align-items: center;
}

.result-list article h2{
  padding: 0;
}

.releaseDate{
  color: #4c6c8c;
  width: 150px;
}

.price{
  width: 50px;
}

input{
  background-color: #1C3345 !important;
  border: 1px solid #000 !important;
}